.datatable-selector.form-select {
    display: inline;
    width: inherit;
}

.flex .form-check {
    display: inline-block !important;
}


body .form-check.form-check-primary .form-check-input {
    background-color: #6861ce !important;
    border-color: #6861ce !important;
    width: 1.8em;
    height: 1.8em;
}

body .form-check.form-check-dark .form-check-input {
    background-color: #8592a3 !important;
    border-color: #8592a3 !important;
    width: 1.8em;
    height: 1.8em;
}

body .form-check.form-check-success .form-check-input {
    background-color: #66c732 !important;
    border-color: #66c732 !important;
    width: 1.8em;
    height: 1.8em;
}

body .form-check.form-check-info .form-check-input {
    background-color: #03b0d4 !important;
    border-color: #03b0d4 !important;
    width: 1.8em;
    height: 1.8em;
}

body .form-check.form-check-danger .form-check-input {
    background-color: #e6381a !important;
    border-color: #e6381a !important;
    width: 1.8em;
    height: 1.8em;
}

body .form-check.form-check-warning .form-check-input {
    background-color: #ffab00 !important;
    border-color: #ffab00 !important;
    width: 1.8em;
    height: 1.8em;
}


body .square-color-primary {
    width: 2em;
    height: 2em;
    background-color:#6861ce !important;
    border-color:#6861ce !important;
}


body .square-color-dark {
    width: 2em;
    height: 2em;
    background-color:#8592a3 !important;
    border-color: #8592a3 !important;
}


body .square-color-success {
    width: 2em;
    height: 2em;
    background-color:#66c732 !important;
    border-color:#66c732 !important;
}

body .square-color-danger {
    width: 2em;
    height: 2em;
    background-color:#e6381a !important;
    border-color:#e6381a !important;
}

body .square-color-info {
    width: 2em;
    height: 2em;
    background-color:#03b0d4 !important;
    border-color:#03b0d4 !important;
}

body .square-color-warning {
    width: 2em;
    height: 2em;
    background-color:#ffab00 !important;
    border-color:#ffab00 !important;
}

.modal-backdrop.show {
    z-index: 9999;
}

.modal {
    z-index: 99999 !important;
}

.activity-hours {
    margin-left: 10px;
}

.card-action-hours {
    font-size: 12px;
}

.card-action-hours:before {
    content: "Всего на тему: ";
}

.activity-hours:after, .card-action-hours:after {
    content: ' ак. ч.';
}

.theme {
    background: #f8f8f8 !important;
}

.empty-activity {
    background: #f8f8f8 !important;
    color: #e3e3e3;
    padding: 0px;
    border-radius: 5px;
    border: 3px dashed #e3e3e3;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.activity {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #e3e3e3 !important;
}


.activities-container .activity:last-child {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom: none;
}

.activity .card-header {
    /*padding: 10px;*/
    padding-top: 15px;
    padding-bottom: 10px;
}

.draggable-mirror {
    opacity: 0.7;
}

.card-action-element a {
    cursor: pointer;
}

.theme-handle, .activity-handle {
    cursor: move;
}

.file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.list-group-numbered>.list-group-item::before {
    position: absolute;
    top: 15px;
}

.answers {
    margin-top: 10px;
}

.answers li {
    margin-bottom: 5px;
}

.swal2-container {
    z-index: 99999 !important;
}

.lp .card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

.lp .card:hover {
    border-color: rgba(105, 108, 255, 0.3);
    box-shadow: rgba(105, 108, 255, 0.35) 0px 5px 15px 0px;
}

.activities-list li {
    padding: 20px 0;
    border-bottom: 1px solid rgba(22, 22, 22, 0.15);
}

.activities-list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.accordion-body {
    position: relative;
}

.accordion-body .blur-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    position: absolute;
    z-index: 1;
    flex-direction: column;
}

.disabled-activity {
    color: #a1acb8 !important;
    cursor: not-allowed !important;
    pointer-events: none;
}

.text-start.divider .divider-text:before {
    display: none !important;
}

.annotation img {
    width: 100% !important;
}

.question-item {
    padding-left: 35px !important;
}

.question-item > li {
    /*margin-bottom: 15px;*/
    padding: 25px 0;
    border-bottom: 1px solid #f0f0f0;
}
.question-item > li {
    font-weight: bold;
    font-size: 16px;
}

.question-item > li:first-child {
    padding-top: 0 !important;
}
.question-item > li:last-child {
    margin: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.question-item ul {
    list-style: none;
    padding-left: 0;
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
}
.question-item ul li {
    margin-bottom: 5px;
}
.question-item ul li:last-child {
    margin-bottom: 0;
}

.btn-outline-primary {
    color: #696cff !important;
}

.isDisabled {
    cursor: not-allowed !important;
    /*pointer-events: none;*/
}

.btn-outline-secondary.isDisabled:hover {
    color: #788393 !important;
    background-color: #fff !important;
    border-color: #788393 !important;
    box-shadow: 0 0 0 transparent !important;
    transform: translateY(0px) !important;
    /*all:unset !important;*/
    /*cursor: not-allowed !important;*/
}

.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner>.menu-item.active:before {
    height: 100% !important;
}


.answers {
    list-style: none;
    padding-left: 0;
}

.answers .correct:before {
    content: '✅';
    margin-right: 5px;
}
.answers .incorrect:before {
    content: '❌';
    margin-right: 5px;
}
.object-fit-cover {
    object-fit: cover !important;
}

.del-absolute-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background: none;
    border: none;
    padding: 0;
}

.del-absolute-link i {
    font-size: 24px;
}

.del-absolute-link:hover {
    color: #cb2027;
}
